* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;

}

.lista-noticias {
    width: 80%;

}

.card {
    margin: 50px;
}